<h1> В вашу группу <%= @group.name %> был отправлен запрос на вступление.</h1>
<p>Для просмотра заявки перейдите по ссылке</p>
<p><%= link_to 'посмотреть заявку', view_request_url(group_id: @group.id, musician_id: @musician.id), target: "_blank" %></p>
