<h1> Пользователь <%= @musician.name%> отправил запрос на вступление в вашу группу <%= @group.name %> </h1>
<p>Для просмотра заявки перейдите по ссылке</p>
<p><%= link_to 'посмотреть заявку', requests_show_url(id: @request.id), target: "_blank" %></p>
