<h1>Редактирование группы</h1>

<%= render "form", group: @group %>

<br>

<div>
  <%= link_to "Вернуться к просмотру группы", @group %> |
  <%= link_to "Вернуться к просмотру групп", groups_path %>
</div>
