<h1>Редактирование анкеты</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Вернуться к просмотру анкеты", @user %> |
  <%= link_to "Вернуться к просмотру музыкантов", users_path %>
</div>
