<p style="color: green"><%= notice %></p>

<div class = 'show-container'>
  <div class = 'show-items'>
    <div class = 'show-card'>
      <%= render @user %>
    </div>
    <div>
      <%if current_user&.id == @user.id%>
        <%= link_to "Редактировать анкету", edit_user_path(@user) %> |
      <%end%>
      <%= link_to "Вернуться к просмотру музыкантов", users_path %>
    </div>
  </div>
</div>
