<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%if current_user&.id == @user.id%>
    <%= link_to "Редактировать анкету", edit_user_path(@user) %> |
  <%end%>
  <%= link_to "Вернуться к просмотру музыкантов", users_path %>
</div>
