<h1>Music Collab - сервис для объединения музыкантов</h1>

<div class="container">
    <div class="col">
        <a href="<%=users_path%>" class="card card-4 stacked--down">
            <div class="content">
                <code class="title">ПОИСК МУЗЫКАНТОВ</code>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="<%=groups_path%>" class="card card-4 stacked--down">
            <div class="content">
                <code class="title">ПОИСК ГРУПП</code>
            </div>
        </a>
    </div>
</div>
