<h1> Вы были приглашены в группу <%= @group.name %></h1>
<p> Для вступления в группу нужно перейти по ссылке</p>
<p><%= link_to 'Принять приглашение', join_group_url(group_id: @group.id, musician_id: @musician.id, token: @token), target: "_blank" %></p>
