#groups, #users {
    display: flex;
}

.user, .group {
    background: rgb(184, 208, 233);
    color: rgb(14, 14, 52);
    border: 2px solid #2f4986;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    height: 600px;
    width: calc(25% - 20px);
    /* text-align: center; */
    transition: transform 0.2s;
}
  
.user:hover, .group:hover {
    transform: scale(1.05);
}
