/* Add this CSS to your stylesheet */

/* Style the form container */
.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    background-image: none;
  }
  
  /* Style the form sections */
  .form-section {
    flex-basis: calc(33.33% - 10px); /* Adjust the width as needed */
    margin: 5px;
    background-image: none;
  }
  
  /* Style the labels and input fields */
  .form-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    background-image: none;
  }
  
  .form-section select, .form-section input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.2s;
    background-image: none;
  }
  
  .form-section select:focus, .form-section input[type="text"]:focus {
    border-color: #4d648d; /* Change to your preferred focus color */
    background-image: none;
  }
  
  /* Style the submit button */
  .form-section input[type="submit"] {
    background-color:#4d648d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-image: none;
  }
  
  .form-section input[type="submit"]:hover {
    background-color: #283655; /* Change to your preferred hover color */
    background-image: none;
  }
  
  /* Adjust the "Filter" button specifically */
  .form-section input[type="submit"] {
    width: auto; /* Auto width based on content */
    margin: 0; /* Reset margin to fix button alignment */
    background-image: none;
  }
  
  .clear-button {
    background-color: #6fa5ae; /* Button background color */
    color: #333; /* Button text color */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px; /* Adjust the margin as needed */
    background-image: none;
  }
  
  .clear-button:hover {
    background-color: 	#93a3c4; /* Button background color on hover */
    background-image: none;
  }
