@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

$bg-color: #eeeeee;
$max-width: 650px;

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
}

h1,
h4 {
    text-align: center;
    font-family: 'Raleway', 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    overflow: hidden;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.col {
    padding: 1rem;
    
    @media (min-width: $max-width) {
        width: 50%;
        float: left;

        &:nth-of-type(2n+1) {
            clear: left;
        }        
    }
}

.card {
    display: block;
    text-align: center;
    color: $bg-color;
    height: 300px;

    .content {
        padding: 4rem 1rem;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content:center ;
    }
    
    .title {
        align-self: center;
        font-size: 1.25rem;
        background-color: gray;
        border-radius: 3px;
        padding: 0.5rem;
        color: white;
        width: 300px;
    }
}
    
@for $i from 1 through 10 {
    .card-#{$i} {
        $card-color: rgb(76, 115, 187);
        $card-color-light: lighten($card-color, 15%);
        $card-color-dark: darken($card-color, 15%);
        
        .content {
            background-color: $card-color-light !important;            
            border-radius: 5px;
        }

        &:before,
        &:after {
            border-radius: 5px;
        }
        
        &:before {
            background-color: $card-color !important;
        }

        .title,
        &:after {
            background-color: $card-color-dark !important;
        }
    }
}


// ------------------------------------------------------


$animation-timing: 0.3s;
$animation-ease: ease-in-out;
$animation-ease-bounce: cubic-bezier(0.175,  0.885, 0.320, 1.275);
[class*='stacked--'] {
    position: relative;
    transition: transform $animation-timing $animation-ease;
    will-change: transform;
    
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: 'currentColor';
        transition: transform $animation-timing $animation-ease;
        will-change: transform;
    }
    
    &:before {
        z-index: -1;
    }
    
    &:after {
        z-index: -2;
    }
}

.stacked--down {
    &:before,
    &:after {
        transform-origin: center top;
    }
    
    &:hover {
        transform: translate(0, 5px);
        
        &:before { transform: translate(0, -5px) scale(0.95); }
        &:after { transform: translate(0, -10px) scale(0.90); }
    }
}
