.user
{
    background-color: rgb(184, 208, 233);
    margin: 20px 50px;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    
}
.btn
{
    margin: 20px 10px;
}
.user-show
{
    margin: 30px 50px;
    font-size: 20px;
}
#success_radios
{
    display: flex;
    flex-direction: column;
}
.sounds
{
    display: flex;
}
