<p>Здравстуйте, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Вы получили это письмо, потому что был отправлен запрос на изменение Вашей электронной почты на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Вы получили это письмо, потому что ваша электронная почта была изменена на <%= @resource.email %>.</p>
<% end %>
