<p>Здравстуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для изменения Вашего пароля. Вы можете изменить пароль, перейдя по ссылке.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если запрос был отправлен не Вами, пожалуйста, проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен, пока вы не перейдете по ссылке и зададите новый. </p>
