<p>Здравстуйте, <%= @resource.email %>!</p>

<p>Ваш аккаунт заблокрован из-за неудачных попыток входа.</p>

<p>Для разблокировки перейдите по ссылке ниже</p>

<p><%= link_to 'Разблокировать', unlock_url(@resource, unlock_token: @token) %></p>
