<h1> Приглашение принято! </h1> 
<p> Музыкант <%= @musician.name %> принял ваше приглашение на запрос вступить в группу, выбрав инструмент <></h1>
<p> Для просмотра состава группы перейдите по ссылке</p>
<p><%= link_to 'Состав группы', group_url(@group.id), target: "_blank" %></p>
